<h2>Productos</h2>

<div>

  <input type="text" placeholder="Buscar marca o Categoria." [(ngModel)]="textoBusqueda">

  <button (click)="buscarPorMarca()">
    Buscar
  </button>

</div>

<br>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Marca</th>
      <th>Categoría</th>
      <th>Precio normal</th>
      <th>Precio clientes</th>
      <th>Acciones</th>
    </tr>

  </thead>
  <tbody>
    @for (producto of (productos$ | async) ?? []; track producto.id) {
    <tr>
      <td>{{ producto.nombreProducto }}</td>
      <td>{{ producto.marca }}</td>
      <td>{{ producto.categoria }}</td>
      @if (userId()) {
      <td>
        <s>${{ producto.precioNormal }}</s>
      </td>
      }@else{
      <td>${{ producto.precioNormal }}</td>
      }
      <td>
        {{ producto.precioClientes ? '$' + producto.precioClientes : 'N/A' }}
      </td>
      <td>
        <button (click)="verDetalle(producto.id)">
          Ver detalle
        </button>
        <button (click)="agregarAlCarrito(producto.id)">
          Agregar al Carrito
        </button>
      </td>
    </tr>

    <br><br>
    } @empty {
    <tr>
      <td colspan="6">No hay productos disponibles.</td>
    </tr>
    }
  </tbody>
</table>