<h2>Productos</h2>

<div>
  <input type="text" placeholder="Buscar por descripción o marca." [(ngModel)]="textoBusqueda">
</div>

<br>
<p>{{ mensaje }}</p>

<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Descripción</th>
      <th>Unidad</th>
      <th>Marca</th>
      <th>Precio (IVA inc.)</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for (producto of productosFiltrados; track producto.id) {
    <tr>
      <td>{{ producto.codigo }}</td>
      <td>{{ producto.descripcion }}</td>
      <td>{{ producto.unidad }}</td>
      <td>{{ producto.marca }}</td>
      <td>${{ producto.precioPublicoIva }}</td>
      <td>{{ producto.stock }}</td>
      <td>
        <button (click)="verDetalle(producto.id)">Ver detalle</button>
        <button (click)="agregarAlCarrito(producto.id)">Agregar al Carrito</button>
      </td>
    </tr>
    } @empty {
    <tr>
      <td colspan="6">No hay productos disponibles.</td>
    </tr>
    }
  </tbody>
</table>

<div #centinela style="height: 1px;"></div>

@if (cargando()) {
  <p style="text-align:center">Cargando más productos...</p>
}

@if (!hayMasPaginas && !cargando()) {
  <p style="text-align:center">— Fin de productos —</p>
}