<mat-sidenav-container class="sidenav-container">

  <!-- Sidenav solo en mobile -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'" [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/productos" (click)="drawer.close()">Productos</a>
      <a mat-list-item routerLink="/grupos" (click)="drawer.close()">Grupo de Productos</a>

      @if (isLoggedIn()) {
      <a mat-list-item routerLink="/carrito" (click)="drawer.close()">Mi carrito</a>
      <a mat-list-item routerLink="/perfil" (click)="drawer.close()">
        <mat-icon>account_circle</mat-icon> Mi perfil
      </a>
      <a mat-list-item (click)="logout(); drawer.close()">
        <mat-icon>logout</mat-icon> Cerrar sesión
      </a>
      } @else {
      <a mat-list-item routerLink="/login" (click)="drawer.close()">Login</a>
      <a mat-list-item routerLink="/registro" (click)="drawer.close()">Registro</a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <!-- Start Header/Navigation -->
    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="FerreViky navigation bar">

      <div class="container">
        <a class="navbar-brand" routerLink="/">FerreViky<span>.</span></a>

        <button class="navbar-toggler" type="button" aria-label="Toggle navigation" (click)="drawer.toggle()">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFerreViky">
          <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/productos">Productos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/grupos">Grupo de Productos</a>
            </li>

            @if (!isLoggedIn()) {
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/registro">Registro</a>
            </li>
            }
          </ul>

          @if (isLoggedIn()) {
          <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
            <li>
              <a class="nav-link" routerLink="/perfil" title="Mi perfil" aria-label="Mi perfil">
                <svg lucideUser color="#fff" [size]="22"></svg>
              </a>
            </li>
            <li>
              <a class="nav-link" routerLink="/carrito" title="Mi carrito" aria-label="Mi carrito">
                <svg lucideShoppingCart color="#fff" [size]="22"></svg>
              </a>
            </li>
            <li>
              <a class="nav-link" role="button" (click)="logout()" title="Cerrar sesión" aria-label="Cerrar sesión">
                <svg lucideLogOut color="#fff" [size]="22"></svg>
              </a>
            </li>
          </ul>
          }
        </div>
      </div>

    </nav>
    <!-- End Header/Navigation -->

    <router-outlet />

  </mat-sidenav-content>
</mat-sidenav-container>